<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>955245970746-ddt5veblr93p6n9ejoj9bg7fh05ihh03.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.955245970746-ddt5veblr93p6n9ejoj9bg7fh05ihh03</string>
	<key>API_KEY</key>
	<string>AIzaSyBl3eC71pT6CTRmx9eSJWu3eh9ZQpzFh7E</string>
	<key>GCM_SENDER_ID</key>
	<string>955245970746</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.assignment3.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ricoz-2a8bf</string>
	<key>STORAGE_BUCKET</key>
	<string>ricoz-2a8bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:955245970746:ios:ed83e964e95d2f1ec0fc03</string>
</dict>
</plist>